*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

body{
	background:black;
}

@font-face {
	font-family:themillion;
	src: url(pm.ttf);
}

header{
	font-family:themillion ;
	width: 100%;
}
h1{
	font-family:themillion ;
	width: 100%;
	transition: all.20s;
}
audio{
	display:none;
}
.navegacion{
	font-family:themillion ;
	width: 1000px;
	margin: 30px auto;
	background: yellow ;
}

.navegacion ul{
	font-family:themillion ;
	list-style: none;
}

.menu > li{
	font-family:themillion ;
	position: relative;
	display: inline-block;
}

.menu > li > a{
	font-family:themillion ;
	display: block;
	padding: 15px 20px;
	color: blue;
}	
	
.menu > li > a{
	font-family:themillion ;
	display: block;
	padding: 15px 20px;
	color: red;
	transition: all .9s;
	
}

.menu li a:hover{
	font-family:themillion ;
	color: blue;
	transition: all .3s;
}

.menu > li{
	font-family:themillion ;
	position: relative;
	display: inline-block;
}

.menu > li > a{
	font-family:themillion ;
	display: block;
	padding: 15px 20px;
	color: blue;
	text-decoration: none;
	

}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: red;
	font-family: 'themillion';
	text-decoration: none;

}


/* Submenu*/

.submenu{
	font-family:themillion ;
	position: absolute;
	background:pink;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	font-family:themillion ;
	display: block;
	padding: 15px;
	color: red;
	text-decoration: none;
}


.menu li:hover .submenu{
	font-family:themillion ;
	visibility: visible;
	opacity: 1;
}